<div class="partial-form">
  <form id="login-partial" method='post' action='/login'>
    <input type='text' name='email' placeholder='email'><br>
    <input type='password' name='password' placeholder='password'><br>

    <input type="submit" value="Login" />
  </form>
</div>
