<div id="search-button" class="partial-form">
  <form method='post' action='/search'>
    <input type='text' name='location' placeholder='City, State/Country' required><br>
    <!-- <input type='text' name='income' placeholder='income(optional)'> -->

    <input type="submit" value="Search" />
  </form>
</div>
